<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grisk.vintagevaluesapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        this is for storing pictures-->
        <provider
            android:authorities="com.grisk.vintagevaluesapp.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".PopupMenu"
            android:exported="false"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity
            android:name=".CurrentPickups"
            android:exported="false" />
        <activity
            android:name=".FulfillPickupDetail"
            android:exported="false" />
        <activity
            android:name=".FulfillPickup"
            android:exported="false" />
        <activity
            android:name=".RequestDetailActivity"
            android:exported="false"
            android:label="@string/request_detail_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RequestPickup"
            android:exported="false"
            android:label="@string/request_pickup_activity_name" />
    </application>

</manifest>